/* your global css here */

body,
h1 {
  font-family: 'Raleway', sans-serif;
}

html {
  height: 100%;
}

body {
  background-image: url('/img/forestbridge.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
  color: white;
  background-color: transparent;
}

h1{
  font-size: 64px;
  position: relative;
  animation: animatetop .4s;
  text-align: center;
}

main .w3-border-grey {
  margin: auto;
  width: 40%;
}